@font-face {
  font-family: 'Pixelon';
  src: url('pixelon-font/Pixelon-OGALo.ttf') format('truetype'),
       url('pixelon-font/Pixelon-E4JEg.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ABE0F0;
    font-family: 'Pixelon', cursive;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 800px;
    min-height: 400px;
    background-color: #FFCDC9;
    padding: 40px 30px;
    border: 4px solid black;
    box-shadow: 8px 8px 0px rgba(41, 34, 34, 0.3),
                -2px -2px 0px rgba(34, 30, 30, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.header_text {
    font-size: 2.5em;
    color: black;
    margin: 10px 0;
}

.gif_container img {
    width: 55%; 
    max-width: 500px; 
    height: auto;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 30px 20px;
        min-height: auto;
    }
    
    .header_text {
        font-size: 1.8em;
        margin: 5px 0;
    }
    
    .gif_container img {
        width: 70%;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 5px;
    }
    
    .container {
        width: 100%;
        padding: 20px 15px;
        border: 3px solid black;
        box-shadow: 4px 4px 0px rgba(41, 34, 34, 0.3),
                    -1px -1px 0px rgba(34, 30, 30, 0.2);
        min-height: auto;
    }
    
    .header_text {
        font-size: 1.3em;
        margin: 5px 0;
    }
    
    .gif_container img {
        width: 90%;
        max-width: 250px;
        height: auto;
    }
}
